$primary: #1abc9c;
$primary-dark: #148f77;

$mdc-theme-primary: $primary;

@import "@material/button/mdc-button";
@import "@material/form-field/mdc-form-field";
@import "@material/checkbox/mdc-checkbox";
@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";

* {
    box-sizing: border-box;
}

.body {
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 1.65714286em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    color: #565656;
    font-weight: 400;
}

.deedroom__button {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    padding: 5px 16px;
    text-transform: uppercase;
    background-color: $primary;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    transition: all 0.3s;
    outline: none;
    line-height: 14px;
    margin: 5px 0 5px 5px;

    &:hover {
        background-color: $primary-dark;
        border-color: $primary-dark;
        outline: 0 !important;
        text-decoration: none;
    }

    &:active {
        outline: 0 !important;
        color: #333;
        background-color: #d4d4d4;
        border-color: #8c8c8c;
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    }
}

.navbar__button {
    @extend .deedroom__button;
}

#driTitle {
    color: #777;
    padding-left: 5px;
}

div.dricontainer {
    background-color: white;
    border: none !important;
}

div.drisearch {
    text-align: center;
    background: #f8f9fb;

    div#tbDRITabs1 {
        padding-bottom: 10px;
    }
}

div.rtsLevel {
    border: 0;

    ul.tabs {
        height: 60px;

        li.rtsLI {
            width: 33.33%;
            height: inherit;

            span.rtsLink {
                text-align: center;
                height: 100%;
                border-radius: 0;
                outline: none;

                color: #70767a;
                border-color: #e5e8e8;
                background-color: #f3f6f6;
                text-decoration: none;
                font-size: 13px;
                font-style: normal;
                font-weight: 100;
                letter-spacing: 0.5px;
                padding: 10px 16px;
                text-transform: uppercase;


                span.rtsText {
                    line-height: initial;
                    text-align: center;
                    vertical-align: -webkit-baseline-middle;
                }
            }

            &.rtsHovered {
                span.rtsLink {
                    color: #1c202a;
                    background: #f8fafa;
                    text-decoration: none;
                    outline: 0;
                }
            }

            &.rtsSelected {
                span.rtsLink {
                    color: #1c202a;
                    box-shadow: none;
                    background: #f8f9fb;
                }

                &::after {
                    background-color: #00aab3;
                }
            }

            &::after {
                content: '';
                display: block;
                position: absolute;
                top: -1px;
                left: -1px;
                right: -1px;
                z-index: 1;
                height: 3px;
                transition: all 0.4s ease-in-out 0s;
            }
        }
    }
}

div#mpDRIMultiPageDVButtons>div>div {
    margin: 0 auto;
    width: max-content;

    button {
        @extend .deedroom__button;
        border-radius: 3px;
        border-color: $primary;
        box-shadow: 0 4px 16px #efefef;

        &::selection {
            background: #1abc9c;
            color: #FFF;
        }
    }
}

footer {
    position: fixed;
    bottom: 0;
}

#PartyNamePg>#upCountiesPN,
#upBPSearch>#apBPPanel,
#upFTSearch>#apFTPanel {
    margin: 0 20px;

    div {
        margin: 5px 0;
        width: 100%;
        display: inline-block;
    }
}

.search__input {
    width: 50%;
    margin: 5px;
    background-color: rgba(238, 238, 238, 0.6);
    border-color: transparent;
    color: #333;
    box-shadow: none;
    height: auto;
    line-height: 1.33333;
    padding: 8px 18px;
    border-radius: 4px;
    border: 2px solid #ebebeb;
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: 400;

    &:focus {
        background-color: #eee;
        box-shadow: none;
        outline: none !important;
    }

    margin: 5px 0;
}

.search__button {
    @extend .deedroom__button;
    border-radius: 3px;
    border-color: $primary;
    box-shadow: 0 4px 16px #efefef;

    &::selection {
        background: #1abc9c;
        color: #FFF;
    }

    margin: 5px 0;
}

#tbxInputBox,
#tbxFullText {
    @extend .search__input;
}

#btnSearchPN,
#btnSearchFT {
    @extend .search__button;
}

#tbxPgNum,
#tbxBkNum {
    @extend .search__input;
    width: 48%;
}

#tbxPgNum {
    margin-left: 1%;
    float: left;
}

#tbxBkNum {
    margin-right: 1%;
    float: right;
}


#btnSearchBP {
    @extend .search__button;
    width: 100%;
}

#cbxPNSearchType,
#ddlInputBox {
    table {
        margin: 10px 0;
    }
}

#txtSDate,
#txtEDate {
    width: 40% !important;
    height: 41px !important;
    line-height: 41px !important;
    margin: 5px 0 !important;
    display: inline-block !important;
}

#ddlInputBox {
    display: inline;
}

#txtbxStartDate,
#txtbxEndDate {
    @extend .search__input;
    width: 60%;
    float: right;
}

#selCountiesPN,
#selCountiesBP,
#selCountiesFT,
#lblPNSearchType,
#lblBPSearchType,
#lblFTSearchType {
    display: inline-block;
    width: 30% !important;
    text-align: left;
    // float: left;
}

#cbxCountiesPN,
#cbxCountiesBP,
#cbxCountiesFT,
#ddlBookTypePN,
#ddlBookTypeBP,
#ddlBookTypeFT {
    display: inline-block;
    width: 70% !important;
    // float: right;
}

#apPNPanel {
    margin: 0 20px;
}

#RadAjaxPanelBPPanel {
    margin-top: 20px;
}

@media (max-width: 1326px) {

    #tbxInputBox,
    #tbxFullText,
    #btnSearchPN,
    #btnSearchFT {
        width: 100%;
    }
}

@media (max-width: 800px) {

    #tbxPgNum,
    #tbxBkNum {
        width: 100%;
    }
}