<div>
    <span>Counties: </span>
    <button class="mdc-button counties__select" type="button">
        <span class="mdc-button__label">0 selected</span>
    </button>
    <div class="mdc-menu mdc-menu-surface counties__menu">
        <ul class="mdc-list counties">
            <li class="mdc-list-item county" data-value="all">
                <div class="mdc-checkbox">
                    <input type="checkbox" class="mdc-checkbox__native-control" />
                    <div class="mdc-checkbox__background">
                        <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                            <path class="mdc-checkbox__checkmark-path" fill="none"
                                d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                        </svg>
                        <div class="mdc-checkbox__mixedmark"></div>
                    </div>
                </div>
                <span class="label"><b>Check all</b></span>
            </li>
            <li role="separator" class="mdc-list-divider"></li>
        </ul>
    </div>
</div>