$mdc-theme-primary: #388e3c;
$mdc-theme-secondary: #00bfa5;
$mdc-theme-on-primary: #fff;
$mdc-theme-on-secondary: #fff;


@import "@material/button/mdc-button";
@import "@material/checkbox/mdc-checkbox";
@import "@material/drawer/mdc-drawer";
@import "@material/form-field/mdc-form-field";
@import "@material/icon-button/mdc-icon-button";
@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";
@import "@material/select/mdc-select";
@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab/mdc-tab";
@import "@material/textfield/mdc-text-field";
@import "@material/top-app-bar/mdc-top-app-bar";

body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.mdc-drawer {
    @include mdc-drawer-width(400px);
}

.mdc-drawer-app-content {
    flex: auto;
    overflow: auto;
    position: relative;
}

.main-content {
    overflow: auto;
    height: 100%;
}

.app-bar {
    position: absolute;
}

// only apply this style if below top app bar
.mdc-top-app-bar {
    z-index: 7;
}

li.county {
    padding-left: 0;
}

#auto-load-image {
    float: right;
}

.mdc-drawer-content {
    margin: 10px;
}

.sidenav-row {
    margin: 10px;
}

#book_types__select {
    width: 100%;
}

#start-date,
#end-date {
    width: 48.5%;
}

#start-date {
    float: left;
}

#end-date {
    float: right;
}

#exact-search__toggle {
    outline: none;

    &.enabled {
        color: $mdc-theme-secondary;
    }
}

#search,
#search__button {
    width: 100%;
}

#search {
    margin-top: 10px;
}

#results {
    margin: 0 auto;
}

#doc-controls {
    @include mdc-top-app-bar-fill-color($mdc-theme-secondary);
}

#results {
    margin: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead {
    background-color: $mdc-theme-secondary;
    color: $mdc-theme-on-secondary;
}

th,
td {
    border: 1px solid #fff;
    padding: 4px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.doc-control {
    margin: 0 3px;
}